/* Default styles for all screens */
body {
  font-family: Arial, sans-serif;
  background-image: url(./deer_wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  height: 100vh;
  width: 97vw;
  color: #fff;
}

/* Styles for screens smaller than 600px (mobile) */
@media screen and (max-width: 600px) {
  #loadingPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #loadingInfo {
    font-size: larger;
    font-weight: 700;
  }

  .searchForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  #labelForecast {
    font-weight: 600;
  }

  .weather-container {
    display: grid;
    grid-template-areas:
      "main-info secondary-info"
      "main-info secondary-info"
      "weather-icon dateAndTime-container";
  }

  .main-info {
    grid-area: main-info;
    font-weight: 600;
  }

  .secondary-info {
    grid-area: secondary-info;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .weather-icon {
    width: 70%;
    max-width: 100px;
    grid-area: weather-icon;
  }

  .dateAndTime-container {
    grid-area: dateAndTime-container;
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
  }

  .hourlyDiv-container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    align-items: center;
    justify-content: center;
  }

  .hourlyWeather {
    font-size: 1rem;
  }

  .dailyDiv-container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    align-items: center;
    justify-content: center;
  }

  .weeklyWeather {
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets */
  #loadingPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #loadingInfo {
    font-size: larger;
    font-weight: 700;
  }

  .searchForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  #labelForecast {
    font-weight: 600;
  }

  .weather-container {
    display: grid;
    grid-template-areas:
      "main-info secondary-info"
      "main-info secondary-info"
      "weather-icon dateAndTime-container";
  }

  .main-info {
    grid-area: main-info;
    font-weight: 600;
  }

  .secondary-info {
    grid-area: secondary-info;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .weather-icon {
    width: 70%;
    max-width: 100px;
    grid-area: weather-icon;
  }

  .dateAndTime-container {
    grid-area: dateAndTime-container;
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
  }

  .hourlyDiv-container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    align-items: center;
    justify-content: center;
  }

  .hourlyWeather {
    font-size: 1rem;
  }

  .dailyDiv-container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    align-items: center;
    justify-content: center;
  }

  .weeklyWeather {
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  /* Styles for desktops */
  #loadingPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #loadingInfo {
    font-size: larger;
    font-weight: 700;
  }

  .searchForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  #labelForecast {
    font-weight: 600;
  }

  .weather-container {
    display: grid;
    grid-template-areas:
      "main-info secondary-info"
      "main-info secondary-info"
      "weather-icon dateAndTime-container";
  }

  .main-info {
    grid-area: main-info;
    font-weight: 600;
  }

  .secondary-info {
    grid-area: secondary-info;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .weather-icon {
    width: 70%;
    max-width: 100px;
    grid-area: weather-icon;
  }

  .dateAndTime-container {
    grid-area: dateAndTime-container;
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
  }

  .hourlyDiv-container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    align-items: center;
    justify-content: center;
  }

  .hourlyWeather {
    font-size: 1rem;
  }

  .dailyDiv-container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    align-items: center;
    justify-content: center;
  }

  .weeklyWeather {
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
